<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_e_description)/urdf/ur10e.urdf.xacro" />

  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur10e_default.yaml" />
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <joint name="arm_mount_joint" type="fixed">
    <parent link="bulkhead_front_mount_link" />
    <child link="ur_arm_base_link" />
    <origin xyz="$(optenv WARTHOG_UR_XYZ 0.0 0.0 0.0)" rpy="$(optenv WARTHOG_UR_RPY 0 0 3.1415927)"/>
  </joint>

  <xacro:ur10e_robot prefix="ur_arm_" joint_limited="true" kinematics_file="${load_yaml('$(arg kinematics_config)')}" />
</robot>
