<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="left_prefix" default="left_iiwa_arm" />
  <xacro:arg name="left_parent" default="left_arm_mount" />
  <xacro:arg name="left_origin_xyz" default="0 0 0"/>
  <xacro:arg name="left_origin_rpy" default="0 0 0"/>

  <xacro:arg name="right_parent" default="right_arm_mount" />
  <xacro:arg name="right_prefix" default="right_iiwa_arm" />
  <xacro:arg name="right_origin_xyz" default="0 0 0"/>
  <xacro:arg name="right_origin_rpy" default="0 0 0"/>

  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>

  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>

  <joint name="$(arg left_prefix)_mount_joint" type="fixed">
    <parent link="$(arg left_parent)" />
    <child link="$(arg left_prefix)_mount_link" />
    <origin xyz="$(optenv WARTHOG_LEFT_IIWA_XYZ 0.0 0.0 0.0)" rpy="$(optenv WARTHOG_LEFT_IIWA_RPY 0 0 0)"/>
  </joint>
  <link name="$(arg left_prefix)_mount_link" />

  <joint name="$(arg right_prefix)_mount_joint" type="fixed">
    <parent link="$(arg right_parent)" />
    <child link="$(arg right_prefix)_mount_link" />
    <origin xyz="$(optenv WARTHOG_RIGHT_IIWA_XYZ 0.0 0.0 0.0)" rpy="$(optenv WARTHOG_RIGHT_IIWA_RPY 0 0 0)"/>
  </joint>
  <link name="$(arg right_prefix)_mount_link" />

  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg left_prefix)"
    parent="$(arg left_prefix)_mount_link">
    <origin xyz="$(arg left_origin_xyz)" rpy="$(arg left_origin_rpy)" />
  </xacro:iiwa14>

  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg right_prefix)"
    parent="$(arg right_prefix)_mount_link">
    <origin xyz="$(arg right_origin_xyz)" rpy="$(arg right_origin_rpy)" />
  </xacro:iiwa14>
</robot>
